*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box{
    background-image: url(https://img.freepik.com/premium-photo/top-view-office-table-desk-workspace-with-calculator-black-pen-laptop-blue_101276-159.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 840px;
}